# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log

# Logs
*.log

# AWS / Secrets
*.pem
*.key
.env